<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>简单留言板</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container" id='app'>
        <form role="form">
            <div class="form-group">
                <label for="username">用户名:</label>
                <input type="text" id="username" v-model='username' class="form-control" placeholder="输入用户名">
            </div>
            <div class="form-group">
                <label for="age">年　龄:</label>
                <input type="text" id="age" v-model='age' class="form-control" placeholder="输入年龄">
            </div>
            <div class="form-group">
                <input type="button" value="添加" v-on:click='add($event)' class="btn btn-primary">
                <input type="reset" value="重置" class="btn btn-danger">
            </div>
        </form>
        <hr>
        <table class="table table-bordered table-hover">
            <caption class="h2 text-info">用户信息表</caption>
            <tr class="text-danger">
                <th class="text-center">序号</th>
                <th class="text-center">名字</th>
                <th class="text-center">年龄</th>
                <th class="text-center">操作</th>
            </tr>
            <tr class="text-center" v-for='(item, key,index) in myData'>
                <td v-text='key + 1'></td>
                <td v-text="item.name"></td>
                <td v-text="item.age"></td>
                <td>
                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#layer" v-on:click="globalKey=key,showMsg='您确定要删除么?'">删除</button>
                </td>
            </tr>

            <tr v-show='myData.length > 0'>
                <td colspan="4" class="text-right">
                    <button class="btn btn-danger btn-sm" v-on:click="globalKey=-2,showMsg='您确定要删除全部?'" data-toggle="modal" data-target="#layer">删除全部</button>
                </td>
            </tr>
            <tr v-show='myData.length== 0'>
                <td colspan="4" class="text-center text-muted">
                    <p>暂无数据....</p>
                </td>
            </tr>
        </table>

        <!--模态框 弹出框-->
        <div role="dialog" class="modal fade bs-example-modal-sm" id="layer">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                        <h4 class="modal-title" v-text='showMsg'></h4>
                    </div>
                    <div class="modal-body text-right">
                        <button data-dismiss="modal" class="btn btn-primary btn-sm">取消</button>
                        <button data-dismiss="modal" class="btn btn-danger btn-sm" v-on:click='remove(globalKey)'>确认</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<!--简单留言板-->
	<script src='https://vuejs.org/js/vue.js'></script>
	<script>
		new Vue({
			el:'#app',
			data:{
                myData:[],
                username:'',
                age:'',
                globalKey:-1,
                showMsg:''
            },
            methods:{
            	add:function(event){
            			alert(event.clientX);
            		this.myData.push({
            			'name':this.username,
            			'age':this.age
            		})
            	},
            	remove:function(key){
            		if(key==-2){
                       this.myData=[];
                    }else{
                       this.myData.splice(key,1);
                    }
            	}
            }

		});
	</script>
</body>
</html>



















