<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<!--
		你可以用 v-model 指令在表单控件元素上创建双向数据绑定。它会根据控件类型自动选取正确的方法来更新元素。尽管有些神奇，但 v-model 本质上不过是语法糖，它负责监听用户的输入事件以更新数据，并特别处理一些极端的例子。
		v-model 并不关心表单控件初始化所生成的值。因为它会选择 Vue 实例数据来作为具体的值。
	-->
	<div id="app">
		绑定 value<br />
  		<input type="radio" v-model="pick" v-bind:value="a">
  		<input type="radio" v-model="pick" v-bind:value="b">
  		<br />
  		选择列表设置:
  		<select v-model="selected">
  			<!--当我点击的时候绑定了value是个数组,值是{number:123}对象-->	
  			<option v-bind:value="{number:123 }">123</option>
  			<option v-bind:value="{number:456 }">456</option>
  			<option v-bind:value="{number:789 }">789</option>
		</select>
		<br />
		参数特性:<br />
		在默认情况下， v-model 在 input 事件中同步输入框的值与数据 (除了 上述 IME 部分)，但你可以添加一个修饰符 lazy ，从而转变为在 change 事件中同步：<br />
		<input type="text" v-model="message"><br />
		<!--事件机制变为change-->
		<input type="text"   v-model.lazy="message"><br />
		如果想自动将用户的输入值转为 Number 类型（如果原值的转换结果为 NaN 则返回原值），可以添加一个修饰符 number 给 v-model 来处理输入值：注意绑定的是数值还是字符串;
		<input type="number" v-model.number="age" ><br />
		如果要自动过滤用户输入的首尾空格，可以添加 trim 修饰符到 v-model 上过滤输入：
		<input type="number" v-model.trim="msg" ><br />
  		{{$data | json}}
	</div>
	<script src='https://vuejs.org/js/vue.js'></script>
	<script>
		var app = new Vue({
			el:'#app',
			data:{
				pick:'',
				a:'加载',
				b:'Wind',
				selected:'',
				message:'',
				age:1
				//selected:{number:123 }
			}
		})
	</script>
</body>
</html>